<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="applicable-device" content="mobile">
  <link rel="canonical" href="http://dripsea.top/" />
  <title>微澜之间</title>
  <link rel="shortcut icon" sizes="16x16" href="src/images/favicon_16.ico">
  <link rel="shortcut icon" sizes="32x32" href="src/images/favicon_32.ico">
  <meta name="keywords" content="微澜之间">
  <meta name="description" content="移动前端技术研究站点">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="app">
  </div>
</body>

</html>
